
//voirsaisisseursdecode.html.twig

//creerdemandedemandat.html.twig
//suppress Annotator

 table {
   text-align: center;
 }

th {
  text-align: center;
}

table thead {
  font-weight: bold;
}

hr {
  margin:15px 0;
}

td, tr, td {
  vertical-align:middle !important;
  border:none !important;
}
td {
  padding:2px 4px;
}


h2 {
  margin:4px 0;

}
h3 {
  margin: 4px 0;
  padding: 5px 0;
  font-family: arial, sans-serif;
  width: 100%;
  color: #000;
}
h3 a {
  color: #00B2EE;
  text-decoration: none;
}
h3 a:hover {
  color: #55d4ff;
}

//layout
      div.mosaic-inner-box {
            height: 100% !important;
        }

        .lien_sidebar p {
 //background: #2c3b41;
            text-align: center;
            margin: 0;
            border-top: 1px solid #555;
            padding: 10px 0;
            border-left: 3px solid transparent;
        }

        .lien_sidebar p .fa {
            margin-right: 8px;
        }

        .lien_sidebar:hover p {
            color: #fff;
            background: #1e282c;
            border-left-color: #fff;
        }

        .actif p, .actif:hover p {
            color: #fff;
            background: #10181c;
            border-left-color: #fff;
        }

        .box.box-solid.box-abonnement {
            border: 1px solid #3d9970 !important;
        }

        .box.box-solid.box-abonnement > .box-header {
            background: #3d9970 !important;
        }

        .box.box-abonnement {
            border-top-color: #3d9970 !important;
        }
//stock.html.twig
.progress {
  font-weight: bold;
}

.progress-bar-grise {
  background-color: #AAAAAA;
}

/*
* jQuery Dynatable plugin 0.3.1
*/
th a {
  color: #333;
}

th a:hover {
  color: #999;
  text-decoration: underline;
}

.dynatable-search {
  float: right;
  margin-bottom: 10px;
}

.dynatable-pagination-links {
  float: right;
}

.dynatable-record-count {
  display: block;
  padding: 5px 0;
}

.dynatable-pagination-links span,
.dynatable-pagination-links li {
  display: inline-block;
}

.dynatable-page-link,
.dynatable-page-break {
  display: block;
  padding: 5px 7px;
}

.dynatable-page-link {
  cursor: pointer;
}

.dynatable-active-page,
.dynatable-disabled-page {
  cursor: text;
}

.dynatable-active-page:hover,
.dynatable-disabled-page:hover {
  text-decoration: none;
}

.dynatable-active-page {
  background: #71AF5A;
  border-radius: 5px;
  color: #333;
}

.dynatable-active-page:hover {
  color: #333;
}

.dynatable-disabled-page,
.dynatable-disabled-page:hover {
  background: none;
  color: #999;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
  padding: 3px 3px 1px 3px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f5f5f5;
}

#table_stock > tbody > tr > td:nth-child(19), #table_stock > tbody > tr > td:nth-child(20), #table_stock > tbody > tr > td:nth-child(21),
#table_stock > thead > tr > th:nth-child(19), #table_stock > thead > tr > th:nth-child(20), #table_stock > thead > tr > th:nth-child(21) {
  text-align: center !important;
}

.padding-bas {
  padding-bottom: 10px !important;
}

.padding-haut {
  padding-top: 10px !important;
}

#table_stock > tbody > tr > td:nth-child(4), #table_stock > tbody > tr > td:nth-child(5) {
  font-size: 85%;
}

#table_stock > tbody > tr > td:nth-child(12) {
  font-weight: bold;
}

#table_stock > tbody > tr > td > i {
  color: #9e9e9e;
}

.table-hover > tbody > tr:hover {
  background-color: #65a4c8 !important;
  color: #FFF !important;
}

.table-hover > tbody > tr:hover > td > i {
  color: #FFF !important;
}


//statscodespromo.html.twig

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 2px 5px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 0 solid #f4f4f4;
}

//statsarticles.html.twig
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 2px 5px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: 0;
}

//reporting.html.twig

.info-box-number {
  font-size: 26px;
}
.progress-description, .info-box-text {
  font-size: 15px;
}


//blogpost.html.twig
//cadeau_actions.html.twig
//client_actions.html.twig
//gift/action.html.twig
//abonnementprelevement_bloc_facture.html.twig
//tickets.html.twig
//bloc_giftCard.html.twig
//abonnementprelevement_actions.html.twig
// portefeuille/actions.html.twig
//abonnementprelevementfacture_actions.html.twig
//commande_actions.html.twig
//abonnement_actions.html.twig
//commande_bloc_facture.html.twig
//abonnementprelevementfacture_actions.html.twig
.sonata-ba-view-container td, .sonata-ba-view-container th {
  border: none;
}
