/*** BANNERS ***/
#section-banner-home {
  // overwritten in inline style
  //  background: url(../img/banners/banner-1.jpg) no-repeat center;
  background: no-repeat center;
  background-size: cover;
}
#section-banner-sylvimpact-top {
  // background: url(../img/banners/banner-3.jpg) no-repeat center;
  background: no-repeat center;
  background-size: cover;
}

.webp #section-banner-sylvimpact-top {
  background: url(../img/banners/banner-3.jpg.webp) no-repeat center;
}

.no-webp #section-banner-sylvimpact-top {
  background: url(../img/banners/banner-3.jpg) no-repeat center;
}

#section-banner-sylvimpact-middle {
  // background: url(../img/banners/banner-4.jpg) no-repeat center;
  background: no-repeat center;
  background-size: cover;
}

#section-banner-gift-1 {
  // background: url(../img/banners/banner-10.jpg) no-repeat center;
  background: no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.webp #section-banner-gift-1 {
  background: url(../img/banners/banner-10.jpg.webp) no-repeat center;
  background-position-x: 100%;
  background-size: cover;
}

.no-webp #section-banner-gift-1 {
  background: url(../img/banners/banner-10.jpg) no-repeat center;
  background-position-x: 85%;
  background-size: cover;
}

#section-banner-gift-2 {
  //    background: url(../img/banners/banner-11.jpg) no-repeat center;
  background: no-repeat center;
  background-size: cover;
}

.webp #section-banner-gift-2 {
  background: url(../img/banners/banner-11.jpg.webp) no-repeat center;
  background-size: cover;
  @media (max-width: 767.98px) {
    background: url(../img/banners/banner-11.jpg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 80%;
  }
}

.no-webp #section-banner-gift-2 {
  background: url(../img/banners/banner-11.jpg) no-repeat center;
  background-size: cover;
}

#section-warranty p {
  font-size: 14px;
}
#section-banner-entreprises {
  background-color: $white;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
}

// too high for lazy loading
.no-webp #section-banner-entreprises {
  background-image: url(../img/banners/banner-12.jpg);
}

.webp #section-banner-entreprises {
  background-image: url(../img/banners/banner-12.jpg.webp);
}

#section-rse {
  background-color: $white;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/*
.no-webp #section-rse
{
  background-image: url(../img/banners/banner-8.jpg);
}

.webp #section-rse
{
  background-image: url(../img/banners/banner-8.jpg.webp);
}*/

#section-offre-rse {
  background-color: $white;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/*
.no-webp #section-offre-rse
{
  background-image: url(../img/banners/banner-13.jpg);
}

.webp #section-offre-rse
{
  background-image: url(../img/banners/banner-13.jpg.webp);
}*/

#section-nos-valeurs {
  background-color: $dark;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

/*
.no-webp #section-nos-valeurs
{
  background-image: url(../img/banners/banner-13.jpg);
}

.webp #section-nos-valeurs
{
  background-image: url(../img/banners/banner-13.jpg.webp);
}
*/

#section-calltoaction .calltoaction-gift {
  background-color: $green;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
}

/*
.webp #section-calltoaction .calltoaction-gift
{
    background-image: url(../img/banners/banner-6.jpg.webp);
}

.no-webp #section-calltoaction .calltoaction-gift
{
    background-image: url(../img/banners/banner-6.jpg);
}*/

#section-calltoaction .calltoaction-sylvimpact {
  background-color: $green;
  background-attachment: scroll;
  background-size: cover;
  background-position: 50% 50%;
}

/*
.webp #section-calltoaction .calltoaction-sylvimpact
{
  background-image: url(../img/banners/banner-7.jpg.webp);
}

.no-webp #section-calltoaction .calltoaction-sylvimpact
{
  background-image: url(../img/banners/banner-7.jpg);
}*/

.section-banner {
  text-align: center;
}
.section-banner .display-1,
.section-banner .display-2,
.section-banner .display-3,
.section-banner .display-4 {
  font-weight: 500;
  color: $white;
  text-shadow: 2px 2px 3px rgba($black, 0.6);
}
.section-banner .jumbotron-light .display-1,
.section-banner .jumbotron-light .display-2,
.section-banner .jumbotron-light .display-3,
.section-banner .jumbotron-light .display-4 {
  font-weight: 700;
  color: $green;
  text-shadow: none;
}
.section-banner .display-1 span {
  font-weight: 300;
}
.section-banner .display-1 {
  font-size: 4.5rem;
  line-height: 5rem;
}
.section-banner .display-2 {
  font-size: 2.2rem;
  line-height: 2.5rem;
}
.section-banner .display-3 {
  font-size: 2.5rem;
  line-height: 3rem;
}
.section-banner .display-4 {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.section-banner .jumbotron {
  text-align: center;
  padding: 80px 20px;
  margin: 0;
  background: transparent;
}
.page-give-gift .section-banner .jumbotron {
  text-align: center;
  padding: 40px 20px;
  margin: 0;
  background: transparent;
}
.section-banner .jumbotron-shadow {
  background-color: rgba($black, 0.5);
}
.section-banner .jumbotron-light {
  background-color: rgba($white, 0.85);
}
// code provenant de l'accueil.html.twig
.img-banner {
  width: 100%;
  height: 445px;
}
@media (max-width: 867px) {
  #videoDiv {
    height: 330px;
  }
}
#videoDiv {
  width: 100%;
  height: 415px;
  position: relative;
}
#videoBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#videoMessage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.div_video {
  width: 100%;
  filter: brightness(108%) contrast(95%);
  -webkit-filter: brightness(108%) contrast(95%);
}
@media (max-width: 1200px) {
  .div_video {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 867px) {
  #videoDiv {
    height: 330px;
  }
}
@media (max-width: 676px) {
  .display-1 {
    font-size: 1.4rem !important;
  }
}
.carousel-opacity {
  background-color: rgba(0, 0, 0, 0.3);
}
#section-banner-home {
  background: none;
}
// Display on XS
@media (max-width: map_get($grid-breakpoints, "sm")) {
  #page-home .section-banner .display-1 {
    font-size: 2rem;
    line-height: 2rem;
  }
  #page-home .section-banner .display-3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

// Display on SM
@media (min-width: map_get($grid-breakpoints, "sm")) and (max-width: map_get($grid-breakpoints, "md")) {
  #page-home .section-banner .display-1 {
    font-size: 2.5rem;
    line-height: 2.9rem;
  }
  #page-home .section-banner .display-3 {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }
}

// Display on MD
@media (min-width: map_get($grid-breakpoints, "md")) and (max-width: map_get($grid-breakpoints, "lg")) {
  #page-home .section-banner .display-1 {
    font-size: 2.9rem;
    line-height: 3.1rem;
  }
  #page-home .section-banner .display-3 {
    font-size: 1.9rem;
    line-height: 2.2rem;
  }
}

// Display on LG
@media (min-width: map_get($grid-breakpoints, "lg")) and (max-width: map_get($grid-breakpoints, "xl")) {
  #page-home .section-banner .display-1 {
    font-size: 4.2rem;
    line-height: 5rem;
  }
  #page-home .section-banner .display-3 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
}

// Display on XL
@media (min-width: map_get($grid-breakpoints, "xl")) {
}
