/*** BUTTONS ***/
.btn
{
    font-family: Montserrat;
    font-weight: 600;
}
.btn-lg
{
    text-transform: uppercase;
}
.btn:disabled
{
    color: $white;
}
.btn-ecoyellow,
.btn-ecogreen
{
    color: $white;
}
.btn-ecoyellow:hover,
.btn-ecogreen:hover
{
    color: $white;
}
.btn-ecowhite
{
    color: $red;
}
.btn-ecowhite:hover
{
    background-color: $red;
    border-color: $red;
    color: $white;
}
.btn[class*='btn-outline-']
{
    background-color: $white;
}
.btn-outline-ecoyellow:hover
{
    color: $white;
}
.btn-outline-ecogreen:hover
{
    color: $green;
}
.btn-outline-ecoblue:hover
{
    background-color: $blue;
}
.btn-outline-dark:hover
{
    background-color: $dark;
}
.btn-outline-ecodarkblue:hover
{
    background-color: $darkblue;
}
.btn-outline-ecogreen:not(:disabled):not(.disabled):active,
.btn-outline-ecogreen:not(:disabled):not(.disabled).active,
.show > .btn-outline-ecogreen.dropdown-toggle
{
    color: $white;
}
/** Fixed button **/
.btn-fixed
{
    position: fixed;
    z-index: 99;
}
.btn-fixed-right
{
    top: 70px;
    right: 0;
}

.btn-offer,
.btn-sylvimpact
{
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 20px !important;
    width: 230px;
    border-width: 2px;
}
.btn-offer span,
.btn-sylvimpact span
{
    font-size: 10px;
    font-weight: 400;
}
.btn-offer
{
    width: 180px;
    color: $red;
    border-color: $red;
}
.btn-sylvimpact
{
    width: 200px;
    color: $white;
    border-color: $yellow;
}
/** **/
.btn-biodonation
{
    border-radius: 0;
    padding: 0;
    background-color: $white;
}
.btn-biodonation:hover
{
    background-color: $yellow;
}
.btn-biodonation:hover,
.btn-biodonation:hover strong.text-green, 
.btn-biodonation:hover i.text-ecoyellow
{
    color: $white !important;
}
.btn-biodonation:focus,
.btn-biodonation.focus
{
    box-shadow: 0 0 1px 1px rgba($yellow, .3);
    border-radius: 0 !important;
}

/** Apply SM button sizes on all button **/
@include media-breakpoint-between(xs,xs)
{
    .btn-lg
    {
        @include button-size($input-btn-padding-y, $input-btn-padding-x-sm, $font-size-base * 0.95, $line-height-sm, $btn-border-radius-sm);
    }
}