.carousel-banner-image{
  height: 75vh;
  object-fit: cover;
}

/** ATTENTION CES CLASSES IMPACTENT LE CAROUSEL DE LA PAGE DE GARDE **/
.wp{
  .carousel {
    position: relative;
  }
  .carousel h2{
    position:absolute;
    top:-45vh;
    font-size: 47.575px;
  }

  .carousel a{
    border-radius:15px;
    font-size: 1.5rem;
    position:absolute;
    top:-15vh;
    left:20vw;
  }
  .btn-ecogreen:hover{
    text-decoration: none;
  }
}


.bg-image-1 {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
  font-size: 1.2rem;
}
.webp .bg-image-1{
  background-image: url(../img/banners/banner-1-compensation-defrichement.jpg.webp);
}
.no-webp .bg-image-1{
  background-image: url(../img/banners/banner-1-compensation-defrichement.jpg);
}
.bg-image-2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 35vh;
}
.webp .bg-image-2{
  background-image: url(../img/banners/banner-2-compensation-defrichement.jpg.webp);
}
.no-webp .bg-image-2{
  background-image: url(../img/banners/banner-2-compensation-defrichement.jpg);
}

.bg-grey{
  background-color:#717171;
}

/* casse le blog
.bg-grey h4, h6{
  color:white;
}
*/
.img-130{
  width: 130px;
}
.img-150{
  width: 150px;
}

.fs-2{
  font-size: 0.75rem;
}
.fs-3{
  font-size: 1.2rem;
}
.opacity-09{
  background: linear-gradient(0.25turn, rgba(0,0,0,0), rgba(0,0,0,0.5),rgba(0,0,0,0));
}
#row-thumb-up:hover{
  .mdi-thumb-up{
    border: #1a1a1a 5px solid;
    transition: 0.5s;

  }
}
.mdi-thumb-up{
  border: #72962e   5px solid;

}
#row-phone-outgoing:hover{
  .mdi-phone-outgoing{
    border: #1a1a1a  5px solid;
    transition: 0.5s;

  }
}
.mdi-phone-outgoing{
  border: #72962e  5px solid;

}


#row-wechat:hover{
  .mdi-wechat{
    border: #1a1a1a  5px solid;
    transition: 0.5s;

  }
}
.mdi-wechat{
  border: #72962e  5px solid;

}
/*que dit la loi*/

.webp .bg-image-parallax{
  background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
}
.no-webp .bg-image-parallax{
  background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
}

.webp .bg-image-parallax-2{
  background-image:url(../img/banners/banner-que-dit-la-loi-2.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:55%;
  background-attachment: fixed;
}
.no-webp .bg-image-parallax-2{
  background-image:url(../img/banners/banner-que-dit-la-loi-2.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:55%;
  background-attachment: fixed;
}

.webp .bg-image-parallax-3{
  background-image:url(../img/banners/banner-que-dit-la-loi-4.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:55%;
  background-attachment: fixed;
}
.no-webp .bg-image-parallax-3{
  background-image:url(../img/banners/banner-que-dit-la-loi-4.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:55%;
  background-attachment: fixed;
}
.webp .bg-image-que-dit-la-loi{
  background-image:url(../img/banners/banner-que-dit-la-loi-3.jpg.webp);
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  min-height: 50vh;

  img{
    width: 100%;
    filter: grayscale(70%) contrast(160%);
  }
}
.no-webp .bg-image-que-dit-la-loi{
  background-image:url(../img/banners/banner-que-dit-la-loi-3.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  min-height: 50vh;

  img{
    width: 100%;
    filter: grayscale(70%) contrast(160%);
  }
}
.webp .bg-image-parallax-accompagnement{
  background-image:url(../img/banners/accompagnement.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
}
.no-webp .bg-image-parallax-accompagnement{
  background-image:url(../img/banners/accompagnement.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
}
.webp .bg-image-parallax-accompagnement2{
  background-image:url(../img/banners/leaf-3369412_1920.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-position-x:35%;
  background-attachment: fixed;
}
.no-webp .bg-image-parallax-accompagnement2{
  background-image:url(../img/banners/leaf-3369412_1920.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-position-x:35%;
  background-attachment: fixed;
}


.card-design{
  position:relative;
  border: 4px solid rgba(0,0,0,.125) !important;
  width:375px;
}

.img-card-design{
  object-fit: cover;
  width:200px;
  height:200px;
  border-radius:50%;
  position:absolute;
  left:17%;
  top:-15%;
}

@media (max-width: 575.98px) {
  .carousel-compensation{
    h2{
      margin-left: -10vw;
      white-space: pre-wrap;
      font-size: 1.4rem !important;
      max-width: 90vw;
      background-color:rgba(0,0,0,0.5);
    }
    .btn-ecogreen{
      font-size: 0.7rem;
    }
  }
  .card-design{
    position:relative;
    border: 4px solid rgba(0,0,0,.125) !important;
    width:100%;
    .card-text{
      text-align: left;
    }
  }

  .img-card-design{
    object-fit: cover;
    width:200px;
    height:200px;
    border-radius:50%;
    position:absolute;
    left:15%;
    top:-15%;
  }

  .webp .bg-image-parallax{
    background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg.webp);
    height: 50vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:100%;
    background-position-x:37%;
    background-attachment: fixed;
  }
  .no-webp .bg-image-parallax{
    background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg);
    height: 50vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:100%;
    background-position-x:37%;
    background-attachment: fixed;
  }
}

#row-cash:hover{
  .mdi-cash{
    border: #1a1a1a  5px solid;
    transition: 0.5s;

  }
}
.mdi-cash{
  border: #72962e  5px solid;

}
.br-25{
  border-radius: 25px;
}
.gmap{
  min-height: 450px;
}

//acompagnement

.accompagnement-card{
  .card-design{
    width: 100%;
    .img-card-design{
      left: 12.5%;
      border-radius: 0;
    }
    .card-text{
      min-height: 126px;
    }
  }

}
.no-border{
  border: none;
}
//rse
@media (max-width: 575.98px) {
  .carousel-compensation {
    h2 {
      margin-left: -10vw;
      white-space: pre-wrap;
      font-size: 1.4rem !important;
      max-width: 90vw;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .btn-ecogreen {
      font-size: 0.7rem;
    }
  }
}
.carousel-compensation {
  h2{
    font-size: 1.5rem;
    width: 60vw;
  }
}
.webp .bg-image-4{
  background-image: url(../img/banners/banner-rse-4.jpg.webp);
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8);
  background-size: cover;
  background-repeat: no-repeat;
  color:grey;
  background-attachment: fixed;
  font-size:1.2rem;
}
.no-webp .bg-image-4{
  background-image: url(../img/banners/banner-rse-4.jpg);
  box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8);
  background-size: cover;
  background-repeat: no-repeat;
  color:grey;
  background-attachment: fixed;
  font-size:1.2rem;
}
.bg-green{
  background-color: #88b337;
}
.rse-img{
  max-width: 90vw;
}
@media (max-width: 767.98px) {
  .text-prewrap{
    white-space: pre-line;
  }

}
.carousel-rse{
  .carousel-banner-image{
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  }
}


//nos solutions
.webp .bg-image-solutions-1{
  background-image: url(../img/banners/banner_nos_solutions.jpg.webp);
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
  color:white;
  background-attachment: fixed;
  font-size:1.2rem;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.no-webp .bg-image-solutions-1{
  background-image: url(../img/banners/banner_nos_solutions.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  min-height: 50vh;
  background-attachment: fixed;
  font-size:1.2rem;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.webp .bg-image-solutions-2{
  background-image: url(../img/banners/banner_nos_solutions_2.jpg.webp);
  background-size: cover;
  min-height: 50vh;
  background-repeat: no-repeat;
  color:white;
  background-attachment: fixed;
  font-size:1.2rem;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.no-webp .bg-image-solutions-2{
  background-image: url(../img/banners/banner_nos_solutions_2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  min-height: 50vh;
  background-attachment: fixed;
  font-size:1.2rem;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}
.card-rse-solutions {
  .card-design{
    border: 4px solid transparent !important;
  }
  .card-deck {
    .bg-grey {
      border: transparent !important;
      background-color: rgba(0, 0, 0, 0.05);
      .bg-white {
        border: white !important;
        background-color: white;

      }
    }
  }
}
.text-black {
  color: black !important;
}
