/*** CONTAINER ***/
.container-pr-72-fluid
{
    padding-right: 72px;
} 
.container-pl-72-fluid
{
    padding-left: 72px;
}
.container-py-72-fluid
{
    @extend .container-pr-72-fluid;
    @extend .container-pl-72-fluid;
}
// Display on XS
@media (max-width: map_get($grid-breakpoints, 'sm'))
{
    .container-xs-fluid
    {
        max-width: none;
        width: 100% !important;
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
        margin-right: auto;
        margin-left: auto;
    }
}
// Display on SM
@media (min-width: map_get($grid-breakpoints, 'sm')) and (max-width: map_get($grid-breakpoints, 'md'))
{
    .container-sm-fluid
    {
        max-width: none;
        width: 100% !important;
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
        margin-right: auto;
        margin-left: auto;
    }
}
// Display on MD
@media (min-width: map_get($grid-breakpoints, 'md')) and (max-width: map_get($grid-breakpoints, 'lg'))
{
    .container-md-fluid
    {
        max-width: none;
        width: 100% !important;
        padding-right: ($grid-gutter-width / 2);
        padding-left: ($grid-gutter-width / 2);
        margin-right: auto;
        margin-left: auto;
    }
}
// Display on LG
@media (min-width: map_get($grid-breakpoints, 'lg')) and (max-width: map_get($grid-breakpoints, 'xl'))
{
    .container-lg-fluid
    {
        max-width: none;
        width: 100% !important;
        padding-right: ($grid-gutter-width * 2);
        padding-left: ($grid-gutter-width * 2);
        margin-right: auto;
        margin-left: auto;
    }
    .container-lg-fluid
    {
        padding: 0 72px;
    }
}
// Display on XL
@media (min-width: map_get($grid-breakpoints, 'xl'))
{
    .container-xl-fluid
    {
        max-width: none;
        width: 100% !important;
        padding-right: ($grid-gutter-width * 2);
        padding-left: ($grid-gutter-width * 2);
        margin-right: auto;
        margin-left: auto;
    }
}