/**
 * Helper to display current breakpoint
 */

body:after
{
    color: $gray-700;
    font-size: .9rem;
    padding: 5px;
    font-weight: bold;
    right: 10px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    bottom: 10px;
    width: 300px;
    z-index: 9999;
    background: $gray-200;
    border: solid 1px $gray-700;
    border-radius: $border-radius;

    @each $name, $value in $grid-breakpoints
    {
        @include media-breakpoint-up($name)
        {
            content: '#{$name} - min-width: #{$value}';
        }
    }

}