.flight-welcome-row {
  background-image: url('../img/banners/airliner.jpg');
  background-attachment: scroll;
  background-position: center center;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
}


.welcome-subtitle {
  text-align: center;
  background-color: rgba($color:#0C0C0C, $alpha: 0.3);
  color: #FCFCFC;
  font-size: 1rem;
  font-family: Montserrat;
  margin: 0;
}

.welcome-title {
  text-align: center;
  background-color: rgba($color:#0C0C0C, $alpha: 0.3);
  color: #FCFCFC;
  font-size: 3rem;
  font-family: Montserrat;
}


.full-width-row {
  margin-top: 10px;
  max-width: none;
  padding-right: 0px;
  padding-left: 0px;
}

.flight-form {
  margin-bottom: 10px;
  padding-top: 10px;
  // padding-right: .525rem;
  padding-left: .525rem;
  box-sizing: none;
  font-size: 1.25rem;
  line-height: 2.5rem;
}

.text-green {
  color: #88b337 !important;
}
#explain-calculate {
  background: url(../img/banners/banner-plane.jpg) no-repeat center;
  background-position-y: 63%;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  @media (max-width: 991.98px) {
    background-position-y: 50%;
    background-size: cover;
    background-attachment: local !important;
  }
}

#why-plant-ecotree {
  background: url(../img/banners/banner-calculator2.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);

}


.form-text-left {
  text-align: right;
}

.form-text-right {
  text-align: left;
  width: 100%;
  padding-left: 15px;
}

input#nox {
  margin-right: 5px;
}

@media (max-width: 676px) {
  .form-text-left  {
    text-align: center;
  }
  .form-text-right  {
    text-align: center;
    width: 100%;
  }

  .flight-form {
    font-size: 0.9rem;
    line-height: 1.8rem;
  }

}


.flight_fill {
  border: none;
  border-bottom: 1px solid;
  // font-size: 1.25rem
  background-color: transparent;
}


/*
.form_text {
  display: inline-block;
  // font-size: 1.25rem;
}*/

.no_padding {
  padding: 0 !important;
}


.no_focus:focus {
  outline: none !important;
  // border-color: #719ECE;
  box-shadow: 0 0 2px #719ECE;
}

.drop_left {
  // left:unset;
  width: unset;
  right: 0;
}
.img-calculator{
  width: 75% !important;
  @media (max-width: 991.98px) {

  width: 100% !important;
  min-height: 450px;
  object-fit: cover;
  }
}
