/*** FORMS ***/

.input-group-lg .btn i.mdi,
.input-group-lg .btn i.mdi
{
    font-size: 2rem;
    line-height: 2rem;
}

/* Add to cart */
.form-add-tree .expected-gain,
.form-add-tree .expected-gain-outline,
.form-add-tree .price
{
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1rem;
    padding: 5px 10px;
}
.form-add-tree .expected-gain,
.form-add-tree .expected-gain-outline
{
    border: 1px solid $yellow;
    border-radius: $border-radius;
}
.form-add-tree .expected-gain
{
    color: $white;
    background-color: $yellow;
    text-transform: uppercase;
}
.form-add-tree .expected-gain-outline
{
    color: $yellow;
    background-color: $white;
}
.form-add-tree .price
{
    color: $green;
    border: 1px solid transparent;
}
.form-add-tree .expected-gain-outline small,
.form-add-tree .expected-gain small,
.form-add-tree .price small
{
    font-size: .8rem;
}
.form-add-tree .expected-gain-outline small,
.form-add-tree .expected-gain small
{
    font-weight: 900;
}
.form-add-tree .price small
{
    color: $dark;
}
.form-add-tree .legacy 
{
    text-align: justify;
    font-size: .9rem;
    line-height: .9rem;
    font-weight: 400;
}

/* helpers */
.form-required label:after
{
    content: "*";
}

/* spinner */
.input-spinner-group .input-group .form-control
{
    color: $yellow;
    font-weight: 900;
}
.input-group-lg > .form-control
{
    padding: .95rem 1rem;
}
.input-spinner-group .input-group-lg .btn-decrement,
.input-spinner-group .input-group-lg .btn-increment
{
    padding: .5rem 0 !important;
}
.input-spinner-group .btn-decrement,
.input-spinner-group .btn-increment
{
    padding: .3rem .3rem !important;
}
