/*** ICONS ***/
.mdi.mdi-dark
{
    color: rgba($dark, .54);
}
.mdi.mdi-dark.mdi-inactive
{
    color: rgba($dark, .26);
}
.mdi.mdi-light
{
    color: rgba($light, 1);
}
.mdi.mdi-light.mdi-inactive
{
    color: rgba($light, .3);
}
.mdi.mdi-yellow
{
    color: rgba($yellow, 1);
}
.mdi.mdi-yellow.mdi-inactive
{
    color: rgba($yellow, .4);
}
.mdi.mdi-green
{
    color: rgba($green, 1);
}
.mdi.mdi-green.mdi-inactive
{
    color: rgba($green, .4);
}
.mdi.mdi-red
{
    color: rgba($red, 1);
}
.mdi.mdi-red.mdi-inactive
{
    color: rgba($red, .4);
}
.mdi-in-css
{
    display: inline-block;
    font: normal normal bold 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*** MDI ***/
@include attr-mdi('mdi-', 'font-size', 1, 14, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 18, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 22, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 56, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 66, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 76, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 86, 'px');
@include attr-mdi('mdi-', 'font-size', 1, 110, 'px');