/*** Ion.RangeSlider, EcoTree Skin ***/
.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.irs-line
{
    position: relative;
    display: block;
    overflow: hidden;
    outline: none !important;
}
.irs-line-left,
.irs-line-mid,
.irs-line-right
{
    position: absolute;
    display: block;
    top: 0;
}
.irs-line-left
{
    left: 0;
    width: 11%;
}
.irs-line-mid
{
    left: 9%;
    width: 82%;
}
.irs-line-right
{
    right: 0;
    width: 11%;
}
.irs-bar
{
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}
.irs-bar-edge
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.irs-shadow
{
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}

.irs-slider
{
    position: absolute;
    display: block;
    cursor: pointer;
    z-index: 1;
}
.irs-slider.single
{

}
.irs-slider.from
{

}
.irs-slider.to
{

}
.irs-slider.type_last
{
    z-index: 2;
}
.irs-min
{
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
}
.irs-max
{
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
}
.irs-from, .irs-to, .irs-single
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}
.irs-grid
{
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}
.irs-with-grid .irs-grid
{
    display: block;
}
.irs-grid-pol
{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background-color: $dark;
}
.irs-grid-pol.small
{
    height: 4px;
}
.irs-grid-text
{
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: $dark;
}
.irs-disable-mask
{
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background-color: $dark;
    z-index: 2;
}
.lt-ie9 .irs-disable-mask
{
    background-color: $dark;
    filter: alpha(opacity=0);
    cursor: not-allowed;
}
.irs-disabled
{
    opacity: 0.4;
}
.irs-hidden-input
{
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}
.irs
{
    height: 70px;
}
.irs-with-grid
{
    height: 90px;
}
.irs-line
{
    height: 25px;
    top: 33px;
    background-color:  $gray-200;
    border: 1px solid $gray-400;
    border-radius: .25rem;
    -moz-border-radius: .25rem;
}
.irs-line-left
{
    height: 23px;
}
.irs-line-mid
{
    height: 23px;
}
.irs-line-right
{
    height: 23px;
}
.irs-bar
{
    height: 25px;
    top: 33px;
    border-top: 1px solid $gray-400;
    border-bottom: 1px solid $gray-400;
    background-color: $green;
}
.irs-bar-edge
{
    height: 25px;
    top: 33px;
    width: 14px;
    font-weight: bold;
    border: 1px solid $gray-400;
    border-right: 0;
    background-color: $green;
    border-radius: .25rem 0 0 .25rem;
    -moz-border-radius: .25rem 0 0 .25rem;
}
.irs-shadow
{
    height: 2px;
    top: 38px;
    background-color: $dark;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.lt-ie9 .irs-shadow
{
    filter: alpha(opacity=30);
}
.irs-slider
{
    top: 25px;
    width: 20px;
    height: 42px;
    border: 1px solid $gray-400;
    background-color: $gray-100;
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    box-shadow: 1px 1px 3px rgba($dark, .3);
    cursor: pointer;
}
.irs-slider.state_hover,
.irs-slider:hover
{
    background-color: $white;
}
.irs-min, .irs-max
{
    color: $gray-800;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background-color: rgba($dark, .1);
    border-radius: .25rem;
    -moz-border-radius: .25rem;
}
.lt-ie9 .irs-min,
.lt-ie9 .irs-max
{
    background: $gray-700;
}
.irs-from, .irs-to, .irs-single
{
    color: $white;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: $yellow;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba($dark, .3);
    border-radius: .25rem;
    -moz-border-radius: .25rem;
}
.lt-ie9 .irs-from,
.lt-ie9
.irs-to,
.lt-ie9 .irs-single
{
    background: $gray-500;
}
.irs-grid
{
    height: 27px;
}
.irs-grid-pol
{
    opacity: .5;
    background: $green;
}
.irs-grid-pol.small
{
    background-color: $gray-500;
}

.irs-grid-text
{
    bottom: 5px;
    color: $gray-800;
}
.irs-grid-text
{
    font-size: 11px;
}
.irs-disabled
{
}