#menu-lang-social,
#menu-top,
#menu-main,
#menu-cart
{
    font-family: Montserrat;
}
    
/*** MENU-LANG-SOCIAL ***/
#menu-lang-social.nav a.nav-link
{
    padding: 0 .5rem;
    border-left: 0 !important;
}
#menu-lang-social.nav .dropdown a.nav-link
{
    border-right: 1px solid $gray-700;
    padding: 0 8px;
}
#menu-lang-social.nav a.nav-link:hover i,
#menu-lang-social.nav a.nav-link:focus i
{
    color: $red;
}
#menu-lang-social.nav .dropdown-menu
{
    width: 73px;
    min-width: 3rem;
}
#menu-lang-social.nav .dropdown-menu a.dropdown-item
{
    padding: 0 .5rem;
    margin: 0;
    font-size: 14px;
}

/*** MENU-TOP ***/
#menu-top.nav a.nav-link.focused *
{
    color: $red;
}
#menu-top.nav a.nav-link.focused:hover *,
#menu-top.nav a.nav-link.focused:focus *,
#menu-top.nav a.nav-link.active.focused *
{
    color: $white;
}
#menu-top.nav a.nav-link.active,
#menu-top.nav a.nav-link.active.focused,
#menu-top.nav a.nav-link:hover,
#menu-top.nav a.nav-link:focus
{
    background-color: $red;
    color: $white;
}

/*** MENU-MAIN ***/
#menu-main .navbar-nav li.nav-item
{
    height: 56px;
    margin: 0;
    padding: 17px 15px;
}
#menu-main .navbar-nav li.nav-item.has-button
{
    margin: 0;
    padding: 0 0 0 15px;
}
#menu-main .navbar-nav li.nav-item:not(.has-button) a.nav-link
{
    color: $gray-800;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    margin: 0;
    padding: 0;
}
#menu-main .navbar-nav li.nav-item:not(.has-button) a.nav-link.active,
#menu-main .navbar-nav li.nav-item:not(.has-button) a.nav-link:hover,
#menu-main .navbar-nav li.nav-item:not(.has-button) a.nav-link:focus
{
    color: $green;
    border-bottom-color: $green;
}
#menu-main .navbar-nav a.nav-link.btn-sylvimpact
{
    color: $white;
}
#menu-main .navbar-nav a.nav-link.btn-sylvimpact:hover,
#menu-main .navbar-nav a.nav-link.btn-sylvimpact:focus
{
    color: $white;
}
#menu-main .navbar-nav a.nav-link.btn-offer
{
    color: $red;
}
#menu-main .navbar-nav a.nav-link.btn-offer:hover,
#menu-main .navbar-nav a.nav-link.btn-offer:focus
{
    color: $white;
    background-color: $red;
}
@media (max-width: map_get($grid-breakpoints, 'lg'))
{
    #menu-main li.nav-item
    {
        text-align: center;
        padding: 5px 15px;
        height: 42px;
    }
    #menu-main .navbar-nav li.nav-item
    {
        height: auto;
        margin: 0;
        padding: 5px 15px;
    }
    #menu-main .navbar-nav li.nav-item:not(.has-button) a.nav-link
    {
        border: 0;
    }
    #menu-main .navbar-nav li.nav-item.has-button
    {
        margin: 10px 0;
    }
    #menu-main li.nav-item a.btn-offer,
    #menu-main li.nav-item a.btn-sylvimpact
    {
        width: 230px;
        margin: 0 auto;
    }
}

/*** MENU-CART ***/
#menu-cart p,
#menu-cart .media-body
{
    font-size: 0.8rem;
    line-height: 1rem;
    text-transform: initial;
}
#menu-cart,
#menu-cart a
{
    color: $white;
}
#menu-cart .cart-price
{
    font-size: 20px;
    font-weight: 600;
}
#menu-cart .text-underline
{
    border-bottom-color: $white;
    padding-bottom: 15px;
}
#menu-cart .btn
{
    text-transform: initial;
}
#menu-top.nav #menu-connexion.dropdown-menu,
#menu-top.nav #menu-cart.dropdown-menu
{
    border-top: 2px solid $red;
    padding: 1rem 1.5rem;
    width: 300px;
}
#menu-top.nav #menu-connexion.dropdown-menu
{
    width: 400px;
}
#menu-top.nav #menu-connexion.dropdown-menu a,
#menu-top.nav #menu-connexion.dropdown-menu button,
#menu-top.nav #menu-connexion.dropdown-menu p
{
    text-transform: initial;
}
#menu-top.nav #menu-connexion.dropdown-menu p
{
    font-weight: bold;
    color: $white;
    padding: 0;
    margin: 0;
}
@include media-breakpoint-between(xs,xs)
{
    #menu-top.nav .dropdown
    {
        position: initial;
    }
    #menu-top.nav #menu-connexion.dropdown-menu,
    #menu-top.nav #menu-cart.dropdown-menu
    {
        width: 100vw;
    }
}