/**
 * MIXINS to add css class with attribute
 */
@mixin attr-x($attr-class, $attr, $attr-count: 10, $attr-steps: 10, $unit: '%') {
    $attr-list: null;
    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr-class}#{$attr-value}#{$unit} {
            #{$attr}: #{$attr-value}#{$unit};
        }

        $attr-list: append($attr-list, unquote(".#{$attr}-#{$attr-value}"), comma);
    }

    #{$attr-list} {
        //append style to all classes
    }
}

/**
 * MIXINS to generate class for text
 */
@mixin for-text($attr-class, $attr, $attr-count: 10, $attr-steps: 10, $unit: '%') {
    $attr-list: null;
    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr-class}#{'-'}#{$attr-value} {
            #{$attr}: #{$attr-value}#{$unit};
            #{'line-height'}: #{'2rem'};
        }

        $attr-list: append($attr-list, unquote(".#{$attr}-#{$attr-value}"), comma);
    }

    #{$attr-list} {
        //append style to all classes
    }
}

/**
 * MIXINS to add size on MDI's icons
 */
@mixin attr-mdi($attr-class, $attr, $attr-count: 10, $attr-steps: 10, $unit: '%') {
    $attr-list: null;
    @for $i from 1 through $attr-count {
        $attr-value: $attr-steps * $i;

        .#{$attr-class}#{$attr-value}#{$unit}#{':before'} {
            #{$attr}: #{$attr-value}#{$unit};
            #{'line-height'}: #{$attr-value}#{$unit};
        }

        $attr-list: append($attr-list, unquote(".#{$attr}-#{$attr-value}"), comma);
    }

    #{$attr-list} {
        //append style to all classes
    }
}