.modal-header
{
    text-align: center;
    border: 0;
    padding: 1.5rem;
}
.modal-title
{
    font-size: 1.6rem;
    height: 2rem;
    font-weight: 500;
    width: 100%;
    line-height: 38px;
    color: $green;
}
.close-outside
{
    color: $white;
    font-size: 2rem;
    border-radius: 50%;
    opacity: 1;
    line-height: 40px;
    width: 40px;
    height: 40px;
}
.close-outside:not(:disabled):not(.disabled):hover,
.close-outside:not(:disabled):not(.disabled):focus
{
    color: $dark;
    background-color: $white;
}
@include media-breakpoint-between(xs,xs)
{
    .modal-header
    {
        padding: 1rem 1rem 0 1rem;
    }
    .modal-title
    {
        font-size: 1rem;
        height: 1.5rem;
    }
    .modal-body
    {
        padding: 0 1rem 1rem 1rem;
    }
}