/*** SIDENAV ***/

#sidenav
{
    text-align: left;
}
.sidenav-widget
{
    
}
.sidenav-label,
.sidenav-heading
{
    color: $green;
    font-weight: bold;
    font-size: 1rem;
    border-bottom-color: $green !important;
}
.sidenav-label
{
    padding: 0;
    margin: 0;
}

.sidenav-widget .nav-link
{
    padding: 0 0 0 1rem;
    color: $gray-700;
}
.sidenav-widget .nav-link.active
{
    font-weight: bold;
}
.sidenav-widget .nav-link:hover
{
    color: $gray-900;
}
.sidenav-widget p
{
    line-height: 1.1rem;
}
.sidenav-widget strong
{
    font-size: 80%;
    line-height: 1.1rem;
}