/*** SNIPPETS ***/
#section-snippet-warranty .display-4,
#section-snippet-warranty p
{
    color: $gray-700;
}
#section-snippet-warranty p
{
    font-size: 0.8rem;
}
#section-snippet-warranty span
{
    font-size: 0.78rem;
}
#section-snippet-warranty strong
{
}

#section-snippet-statistics strong
{
    
}
#section-snippet-statistics .the-statistic
{
    color: $green;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}