/* @TODO Think about proposing font resources: import them or use a CDN like Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");

/*** HTML ***/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::selection {
  background: $green;
  color: $white;
}
::-moz-selection {
  background: $green;
  color: $white;
}
:focus {
  outline-color: rgba($green, 0.1);
  outline-offset: 0px;
  outline-style: auto;
  outline-width: 5px;
}
a:focus {
  text-decoration: underline;
}
a:focus,
nav a:focus {
  outline: none;
}
@media (max-width: 767.98px) {
  h1 , h2, h3, h4, h5{
    font-size: 1.5rem !important;
    line-height: 2rem;
  }
  .process-etapes h2{
    font-size: 0.7rem !important;
     }

}

.mdi-33px{
  font-size: 33px;
  line-height: 33px;
}
.br-50{
  border-radius: 50%;
}
.ft-2{
  font-size: 2rem;
}
.cl-light-green{
  color:#9eb573;
}
.cl-dark-green{
  color:#72962e;
}
.lh2{
  line-height: 2rem!important;
}
/*** HEADER-TOP ***/
#header-top.navbar {
  padding: 0;
}
#header-top.navbar ul {
  text-transform: uppercase;
}
#header-top.navbar ul li.nav-item {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 38px;
  line-height: 38px;
}
#header-top.navbar a.nav-link {
  display: block;
  padding: 0 0.9 rem;
  border-left: 1px solid $gray-700;
}
#header-top.navbar a {
  color: $white;
}
#header-top.navbar .dropdown-menu {
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: 0;
  background-color: $gray-800;
}
/*** HEADER-MENU ***/
$width_of_logo: 140px;
$width_of_compactified_logo: 70px;
#header-menu {
  background-color: rgba($white, 0.95);
  box-shadow: 0 0 20px 0px rgba($dark, 0.1);
}
#header-menu.not-compacted {
  background-color: rgba($white, 1);
}
#header-menu .navbar-toggler {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1;
  border-color: transparent !important;
  border-radius: 0;
  color: $gray-900;
}
#header-menu .navbar-brand {
  padding: 0px 55px;
  margin: 0px;
}
#header-menu .navbar-brand img {
  width: $width_of_compactified_logo;
}
#header-menu.not-compacted .navbar-brand img {
  width: $width_of_logo;
}
#header-menu,
#header-menu .navbar-brand img,
#header-menu.not-compacted,
#header-menu.not-compacted .navbar-brand img {
  -webkit-transition: width 100ms ease;
  -moz-transition: width 100ms ease;
  -ms-transition: width 100ms ease;
  -o-transition: width 100ms ease;
  transition: width 100ms ease;
}
@include media-breakpoint-between(xs, xs) {
  #header-menu .navbar-brand img,
  #header-menu.not-compacted .navbar-brand img {
    width: $width_of_compactified_logo;
  }
}
@media (max-width: map_get($grid-breakpoints, "lg")) {
  #header-menu {
    background-color: rgba($white, 1);
    box-shadow: 0 0 20px 0px rgba($dark, 0.1);
  }
  #header-menu .navbar-brand {
    padding: 0px;
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 1300px)  {
  #menu-main .navbar-nav .nav-link {
    font-size: 0.7rem !important;

  }
  #menu-main{

    .btn-sylvimpact{
      width: 180px!important;
    }
    .btn-offer{
      width: 145px !important;
    }
  }
  #header-menu .navbar-brand img{
    width: 90px !important;
  }
}

/** SECTION-RECONCILIER **/
#section-reconcile .display-3 span {
  color: $gray-700;
  text-transform: initial;
  font-weight: 400;
}

/*** SECTION-PROFITS ***/
#section-profits {
}

/*** COOKIE ***/
#alert-cookie.alert-cookie {
  background-color: $dark;
  border-color: $dark;
  border-width: 1px;
  border-style: solid;
  border-radius: 0;
  color: $white;
}
#alert-cookie.alert-cookie.fixed-bottom {
  margin: 0;
}
#alert-cookie.alert-cookie p {
  color: $white;
  margin-bottom: 0;
  font-size: 0.8rem;
  font-weight: 300;
}
#alert-cookie.alert-cookie a {
  color: $green;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

/*** FOOTER ***/
#footer {
  background-color: $black;
  background-attachment: scroll;
  background-size: cover;
  background-position: center center;
  font-size: 15px;
  font-weight: 600;
}

/*
.no-webp #footer {
  background-image: url(../img/banners/banner-9.jpg);
}

.webp #footer {
  background-image: url(../img/banners/banner-9.jpg.webp);
}


@include media-breakpoint-between(xs, xs) {

  .webp #footer {
    background-image: url(../img/banners/banner-9-responsive.jpg.webp);
  }

  .no-webp #footer {
    background-image: url(../img/banners/banner-9-responsive.jpg);
  }

}
*/


#footer h4 {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 3px;
}
#footer a {
  font-weight: 400;
  color: $white;
}
#footer a:hover {
  color: darken($white, 15%);
}
#footer .list-inline {
  margin: 0;
  letter-spacing: 3px;
}
#footer .site-brand {
  padding: 0 55px;
  margin: 0;
}
@include media-breakpoint-between(xs, sm) {
  #footer {
    text-align: center;
  }
}

/*** SECTION ***/
.section-white {
  background-color: $white;
}
.section-gray {
  background-color: $gray-100;
}
.section-darker-gray {
  background-color: $gray-400;
}
.section-dark-gray {
  background-color: $gray-700;
}
.section-green {
  background-color: $green;
}
.section-dark-green {
  background-color: darken($green, 15%);
}
.section-white .display-3,
.section-gray .display-3 {
  color: $green;
}
.section-green .display-3,
.section-dark-gray .display-3,
.section-dark-green .display-3 {
  color: $white;
}

/*** Styles ***/

.the-statistic {
  font-weight: 600;
  color: $green;
  display: block;
  font-size: 2.1rem;
  line-height: 1.5rem;
}
.the-statistic strong {
  color: $dark;
  font-size: 1.2rem;
  font-weight: 400;
}

.have-next-chevron {
  position: relative;
}
.have-next-chevron:after {
  font-size: 40px;
  content: "\F142";
  position: absolute;
  width: 40px;
  height: 40px;
  right: -30px;
  bottom: calc(50% - 20px);
  color: $yellow;
  @extend .mdi-in-css;
}
@media (max-width: map_get($grid-breakpoints, "md")) {
  .have-next-chevron {
    margin-bottom: 20px;
  }
  .have-next-chevron:after {
    content: "\F140";
    right: calc(50% - 20px);
    bottom: -30px;
  }
}

/* TREES-DECK */
.trees-deck .card {
  border: 0;
  border-radius: 0;
  background: $white;
  margin: 0 7px 20px 7px;
  overflow: hidden;
}
.trees-deck:not(.trees-list) .card {
  padding: 15px;
  box-shadow: 0 0 14px 3px rgba($gray-400, 0.54);
}
.trees-deck .card img {
  border-radius: 0;
}
.trees-deck .card .card-body {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}
.trees-deck .card .card-footer {
  padding: 0;
  background-color: $white;
  border: 0;
}
.trees-deck .card .card-title {
  text-align: left;
  font-weight: 700;
}
.trees-deck .card .card-title {
  font-size: 1.4rem;
  line-height: 1.3rem;
  min-height: 2.5rem;
}
.trees-deck .card .card-title a {
  color: $dark;
}
.trees-deck .card .card-title:hover a,
.trees-deck .card .card-title a:hover {
  color: rgba($dark, 0.8) !important;
  text-decoration: none;
}
.trees-deck .card a:hover img {
  opacity: 0.8;
}
.trees-deck .card p {
  margin: 0;
}

/* PROJECTS-DECK */
.projects-deck .card {
  border: 0;
  border-radius: 0;
  background: $white;
  background: $white;
}
.projects-deck .card img {
  border-radius: 0;
}
.projects-deck .card .card-body {
  margin: 0;
  padding: 10px 0;
  text-align: left;
}
.projects-deck .card .card-footer {
  padding: 0;
  background-color: $white;
  border: 0;
}
.projects-deck .card .card-title {
  text-align: left;
  font-weight: 700;
}
.projects-deck .card .card-title {
  font-size: 1.2rem;
  line-height: 1.5rem;
}
.projects-deck .card .card-title a {
  color: $dark;
}
.projects-deck .card .card-title:hover a,
.projects-deck .card .card-title a:hover {
  color: rgba($dark, 0.8) !important;
  text-decoration: none;
}
.projects-deck .card a:hover img {
  opacity: 0.8;
}
.projects-deck .card p {
  margin: 0;
}

/* PARTNERSHIP-DECK */
.partnership .card {
  border: 0;
  border-radius: 0;
}
.partnership .card-body {
  padding: 0.8rem 0;
}
.partnership .card-body .card-title {
  font-size: 0.9rem;
  font-weight: bold;
}
.partnership .card a {
  color: $dark;
}

/* Question FAQ */
#faq .question .card a {
  font-weight: bold;
  color: $dark;
}
#faq .question .card a:hover,
#faq .question .card a:focus {
  outline: none;
  background-color: $gray-300;
  text-decoration: none;
}

/* BLOG */
#blog .blog-heading {
  font-weight: bold;
  border-bottom: 1px solid $darkblue;
}
#blog .blog-heading i.mdi {
  color: $darkblue;
}
.post .post-meta,
.post .post-meta a {
  font-size: 0.8rem;
  color: $gray-700;
}
.post.card {
  border: 0;
  border-radius: 0;
}
.post .post-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: $green;
  padding: 0.5rem 0;
  margin: 0;
}
.post .post-title.card-title {
  font-size: 1rem;
}
.post .post-title,
.post .post-title a {
  color: $green;
}
.post .post-header {
  font-weight: bold;
}
.post .post-body.card-body {
  padding: 0 0 1.25rem 0;
}

/* Tree meta */
.tree-meta {
  margin: 0 0 1rem;
}
.tree-meta .age,
.tree-meta .place,
.tree-meta .horizon {
  font-size: 0.8rem;
  margin: 0;
}

/* Project meta */
.projects-deck .amount {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: right;
  text-transform: uppercase;
}
.projects-deck .progress p {
  text-align: center;
  color: $gray-600;
  width: 100%;
  line-height: 2rem;
  font-weight: bold;
}

/** Page cart **/
.page-cart h1 {
  font-size: 1.9rem;
  font-weight: 700;
}
.page-cart .table thead th {
  font-size: 0.9rem;
  color: $gray-600;
}
.page-cart .input-group-text.whited {
  background-color: $white;
  border: 1px solid $white;
}

/* Badge promo */

/*
width: 130px;
    right: -30px;
    color: #fff;
    font-size: .8rem;
    line-height: .9rem;
    position: absolute;
    top: 25px;
    // left: -5%;
    padding: .3rem .5rem;
    transform: rotate(45deg);
*/

.badge-promo {

  color: #fff;
  font-size: 0.9rem;
  line-height: 0.95rem;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0.3rem 0.5rem;
}
.trees-deck .badge-promo {
  top: 20px;
  left: 20px;
}

.ribbon {
  width: 240px;
  top: 55px !important;
  right: -55px !important;
  left: unset !important;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.ribbon-green {
  width: 240px;
  top: 42px!important;
  right: -70px!important;
  font-size: 0.8rem;
  left: unset !important;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.ribbon-red {
  width: 167px;
  top: 50px !important;
  right: -44px !important;
  font-size: 0.8rem;
  left: unset !important;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(55deg);

}
.card-empreinte{
  .bg-white{
    overflow: hidden;
    border: 2px solid #f9f9f9;
  }
}
.cl-red{
  color: #ff5d55;
}

/* List type 1 */
ul.list-type-1 {
  margin: 0;
  padding: 0 25px;
  list-style: none;
}
ul.list-type-1 li {
  padding-left: 30px;
  position: relative;
  line-height: 25px;
  margin: 10px 0px;
}
ul.list-type-1 li:before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "\f142";
  font-size: 1.5rem;
  font-weight: 300;
  color: $green;
  @extend .mdi-in-css;
}

/* FAQ */
.question .card {
  width: 100%;
}

/* Columns */
.two-columns-of-text {
  -moz-column-count: 1;
  -webkit-column-count: 1;
  -o-column-count: 1;
  column-count: 1;
}
@media (min-width: map_get($grid-breakpoints, "lg")) {
  .two-columns-of-text {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    -moz-column-gap: 30px;
    -webkit-column-gap: 30px;
    -o-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule-width: 1px;
    -webkit-column-rule-color: $gray-200;
    -webkit-column-rule-style: solid;
    -moz-column-rule-width: 1px;
    -moz-column-rule-color: $gray-200;
    -moz-column-rule-style: solid;
    -o-column-rule-width: 1px;
    -o-column-rule-color: $gray-200;
    -o-column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: $gray-200;
    column-rule-style: solid;
  }
}

/*** Enable hover on dropdown menu ***/
.dropdown-hover:hover > .dropdown-menu {
  display: block;
}

/*** TOOLTIPS ***/
.tooltip .tooltip-inner {
  max-width: 300px;
  background-color: rgba($dark, 0.95);
}
.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: rgba($dark, 0.95);
}
.bs-tooltip-right .arrow::before,
.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: rgba($dark, 0.95);
}
.bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: rgba($dark, 0.95);
}
.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: rgba($dark, 0.95);
}

/*** NAV-PILLS ***/
.nav-pills .nav-link {
  color: $dark;
  background-color: $gray-200;
}

/*** NAV-TABS ***/
.nav-tabs .nav-link {
  color: $dark;
  font-weight: bold;
  padding: 1rem 1.5rem;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $white;
  background-color: $green;
}
/*** ECOTREE-NAV-TABS ***/
ul.nav.ecotreetab {
  justify-content: center;
  text-align: center;
}
ul.nav.ecotreetab li.nav-item {
  border-bottom: 5px solid transparent;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1rem;
}
ul.nav.ecotreetab li.nav-item a {
  color: $gray-900;
  text-decoration: none;
}
ul.nav.ecotreetab li.nav-item a.active {
  font-weight: 700;
}
ul.nav.ecotreetab li.nav-item a:after {
  content: "";
  position: relative;
  bottom: -6px;
  height: 3px;
  display: block;
  background-color: $gray-200;
  width: 70px;
  margin: 0 auto;
}
ul.nav.ecotreetab li.nav-item a.active:after {
  background-color: $green;
}

ul.nav.ecotreetab.ecotreetab-whited li.nav-item a {
  color: $white;
}
ul.nav.ecotreetab.ecotreetab-whited li.nav-item a:after {
  background-color: rgba($white, 0.5);
}
ul.nav.ecotreetab.ecotreetab-whited li.nav-item a.active:after {
  background-color: $green;
}
/*** SHARING-BOX ***/
.sharing-widget ul {
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}
.sharing-widget li a {
  color: $gray-700;
}
.sharing-widget li,
.sharing-widget li i.mdi {
  font-size: 1.7rem !important;
}

/*** SHARING-BOX ***/
.sharing-button {
  margin: 0;
  padding: 0 1rem;
  text-align: center;
}
.sharing-button li a {
  color: $darkblue !important;
}
.sharing-button li,
.sharing-button li i.mdi {
  font-size: 1.5rem !important;
}

/*** BACKGROUND-GRAYS ***/
.bg-gray-100 {
  background-color: $gray-100;
}
.bg-gray-200 {
  background-color: $gray-200;
}
.bg-gray-300 {
  background-color: $gray-300;
}
.bg-gray-400 {
  background-color: $gray-400;
}
.bg-gray-500 {
  background-color: $gray-500;
}
.bg-gray-600 {
  background-color: $gray-600;
}
.bg-gray-700 {
  background-color: $gray-700;
}
.bg-gray-800 {
  background-color: $gray-800;
}
.bg-gray-900 {
  background-color: $gray-900;
}
//pastille de parrainage.html.twig
.pastille {
    display: block;
    font-size: 22px;
    color: #FFF;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    width: 42px;
    height: 42px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    margin:0 auto 10px auto;
}


//cadeaueditercarte.html.twig
.templateImage:hover {
  cursor: pointer;
}
//cadeaumodifier.html.twig
#tableau_arbres > tbody > tr > td {
  font-size: 90%;
  padding: .15rem;
}
#tableau_arbres > thead > tr > th {
  font-size: 85%;
}

//partenaires.html.twig

.partenaires{
  .card-img-top {
    max-height: 120px;
    width: auto;
    max-width: 100%;
  }
}
//biodiversity
 .page-biodiversity{

   .projects-deck .card .card-title {
     text-align: left;
     font-weight: 700;
     font-size: 1.2rem;
     line-height: 1.5rem;
     min-height: 48px;
   }
 }

 //blog

.blog{
  .text-justify img{
    max-width: 100%;
  }
}

//pierimport


.no-webp #section-pierimport {
  background: url(../img/banners/pierimport.jpg) no-repeat center  !important;
  background-position-y: 19% !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  @media (max-width: 767.98px) {
    background-position-x: 58% !important;

  }
}

.webp #section-pierimport {
  background: url(../img/banners/pierimport.jpg.webp) no-repeat center !important;;
  background-position-y: 19% !important;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
  @media (max-width: 767.98px) {
    background-position-x: 58% !important;
  }
}
.cl-pierimport{
  color: white;
  position: relative;

}
.cl-pierimport:before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 10%;
  height: .2rem;
  background-color: #e7412b;
  content: "";
  -webkit-transition: .15s all;
  transition: .15s all;
  width: 80%;
}

.f-f-allerta{
  font-family: 'Allerta Stencil', sans-serif !important;
  text-transform: uppercase;
  font-weight: 400;
}

.btn-ideal{
  background-color:#d50172;
  color: white;
  img{
    filter: grayscale(100%) contrast(120%);
  }
}
.btn-ideal:hover{
  background-color: #93014f;
  color: white;
}
.webp .bg-image-parallax-subvention-foret{
  background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg.webp);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.no-webp .bg-image-parallax-subvention-foret{
  background-image:url(../img/banners/banner_que_dit_la_loi_1.jpg);
  height: 50vh;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:100%;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
