/** TEXT HELPERS **/
.text-shadow
{
    text-shadow: 2px 2px 3px rgba($black, .6);
}
.text-no-shadow
{
    text-shadow: none !important;
}
.text-no-uppercase
{
    text-transform: inherit;
}
.text-underline
{
    border-bottom: 1px solid transparent;
}
.no-text-underline
{
    text-decoration: none !important;
}
.text-red
{
    color: $red !important;
}
.text-blue
{
    color: $blue !important;
}
.text-green
{
    color: $green !important;
}
.text-gray
{
    color: $gray-600 !important;
}

/** Generate height class **/
@include for-text('text', 'font-size', 50, 1, 'px');

/** HEADINGS **/
.display-5 {
  font-size: $display5-size;
  font-weight: $display5-weight;
  line-height: $display-line-height;
}
.title-blog {
  font-size: $display5-size;
  font-weight: $display5-weight;
  line-height: $display-line-height;
}
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.title-blog
{
    font-family: Montserrat;
}
.display-1
{
    line-height: 5rem;
}
.display-2
{
    line-height: 4rem;
}
.display-3
{
    color: $green;
    line-height: 3rem;
    margin: 0;
}
.display-4
{
    color: $green;
    line-height: 2rem;
}
.display-5
{
    color: $gray-600;
    line-height: 2rem;
}
@include media-breakpoint-between(xs,xs)
{
    #page-entreprises .display-3
    {
        font-size: 1.7rem !important;
        line-height: 2.2rem;
    }
    #page-give-gift .display-3
    {
        font-size: 1.95rem !important;
        line-height: 2.2rem;
    }
    #page-cart .display-2,
    #page-cart .display-2 .mdi:before
    {
        font-size: 1.2rem !important;
        line-height: 2rem;
    }
}